* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1960px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


li,
ol {
    list-style: none;
}

.hero {
    padding: 104px 0;
}

.hero-btn {
    border-radius: 80px;
    background: #FF6A00;
    padding: 14px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--Theme-White, #FFF);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
    display: block;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 108px;
}

.hero-btn img {
    margin-right: 10px;
}

.hero-title {
    color: var(--Gray-900, #212121);
    text-align: center;
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 22px;
}

.hero-text {
    color: var(--Gray-600, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.hero-imgs img {
    width: 200px;
    margin-right: 40px;
    margin-bottom: 104px;

}

.text {
    color: #9E9E9E;
    margin-bottom: 64px;
}

hr {
    width: 1130px;
    height: 0px;
    stroke-width: 1px;
    stroke: var(--Gray-300, #E0E0E0);
}

.websites-imgs {
    margin-bottom: 104px;
}



.click {
    padding-bottom: 104px;
}

.click-text {
    color: var(--Gray-500, #9E9E9E);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 11px;
}

.click-title {
    color: var(--Gray-900, #212121);
    text-align: center;
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 61px;
}

.click-info {
    padding-bottom: 104px;
}

.info {
    text-align: center;
}

.blue {
    background: #E6EFFF;
    width: 85px;
    height: 86px;
    border-radius: 50%;
    color: var(--Theme-Primay, #005DFF);
    text-align: center;
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 34px;
}

.red {
    background: #FFEFE6;
    color: #FF6A00;

}

.green {
    background: #E5FAED;
    color: #28A154;
}

.red-text {
    color: var(--Theme-Warning, #FF6A00);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.green-text {
    color: var(--Theme-Success, #28A154);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.click-info-text {
    color: var(--Theme-Primay, #005DFF);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.click-info-text-two {
    color: var(--Gray-700, #616161);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.me {
    padding-bottom: 105px;
}

.me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.me-title {
    color: var(--Gray-800, #424242);
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 38px;
    margin-bottom: 38px;
}

.me-span {
    color: var(--Theme-Primay, #005DFF);
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
}

.me-text-one {
    color: var(--Gray-600, #757575);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.me-text-two {
    color: var(--Gray-600, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 80px;
}

.strelka {
    display: flex;
    align-items: center;
}

.strelka-text {
    margin-top: 10px;
    margin: 0px 23px;
}

/* packgages */

.packages {
    padding: 80px 0px 104px 0px;
    background: #FAFCFF;
}

.packages-title {
    color: var(--Gray-900, #212121);
    text-align: center;
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 61px;
}

.packages-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.packages-blue {
    padding: 48px;
    border-radius: 16px;
    background: var(--Theme-Primary-Light, #E6EFFF);
    width: 369px;
    margin-left: 20px;
}

.packages-text {
    color: var(--Gray-700, #616161);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
}

.packages-div-title {
    color: var(--Theme-Primay, #005DFF);
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    padding: 0;
}

.packages-div-title span {
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
    display: block;
    margin-bottom: 48px;
}

.true {
    display: flex;
    align-items: center;
}

.true-text {
    color: var(--Gray-900, #212121);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 15px;
    margin-left: 10px;
}

.packages-btn {
    border-radius: 80px;
    border: 1px solid var(--Theme-Warning, #FF6A00);
    background: var(--Theme-Warning, #FF6A00);
    display: flex;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    color: var(--Theme-White, #FFF);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
    margin: 0 auto;
    margin-top: 48px;
}

.packages-red {
    background: var(--Theme-Warning-Light, #FFEFE6);
}

.packages-red .packages-div-title {
    color: var(--Theme-Warning, #FF6A00);
}

.packages-green .packages-div-title {
    color: var(--Theme-Success, #28A154);
}

.blue-btn {
    background: transparent;
    border-radius: 80px;
    border: 1px solid var(--Theme-Primay, #005DFF);
    color: var(--Theme-Primay, #005DFF);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
}

.green-btn {
    border-radius: 80px;
    border: 1px solid var(--Theme-Success, #28A154);
    background: transparent;
    color: var(--Theme-Success, #28A154);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
}

/* foot */

.foot {
    padding: 104px 0;
}

.foot-title {
    color: var(--Gray-900, #212121);
    text-align: center;
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 46px;
}

.foot-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.foot-item {
    margin-left: 27px;
}

.foot-link {
    color: var(--Gray-500, #9E9E9E);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
    text-decoration: none;
    transition: 0.5s ease;
}

.foot-link:hover {
    border-bottom: 2px solid #005DFF;
    padding-bottom: 10px;
    color: #005DFF;
}

.foot-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 63px;
}

.foot-imgs img {
    padding-left: 20px;
    padding-bottom: 80px;
    transition: 0.5s ease;
}

.foot-imgs img:hover {
    transform: translateY(-50px);
}

.foot-btn {
    border-radius: 80px;
    border: 1px solid var(--Theme-Warning, #FF6A00);
    padding: 14px 40px;
    text-decoration: none;
    color: var(--Theme-Warning, #FF6A00);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
    background: transparent;
    margin: 0 auto;
    display: block;
}

.foot-btn {
    transition: 0.5s ease;
    cursor: pointer;
}

.foot-btn:hover {
    background: #FF6A00;
    color: white;
    box-shadow: 0 0 10px 5px #FF6A00;
}

/* services */

.services {
    padding: 65px 0 85px 0;
    background: #FAFCFF;
}

.services-title {
    color: var(--Gray-900, #212121);
    text-align: center;
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 61px;
}

.services-div {
    border-radius: 16px;
    background: var(--Theme-Primary-Light, #E6EFFF);
    width: 1140px;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}


.div-left-title {
    color: var(--Theme-Primay, #005DFF);
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 16px;
}

.div-left-text {
    color: var(--Gray-900, #212121);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 56px;
}

.service-div {
    display: flex;
}

.explore {
    margin-left: 20px;
}

.explore-title {
    color: var(--Theme-Primay, #005DFF);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
    margin-left: -20px;
}


.explore img {
    margin-left: 10px;/
}

.div-right-title {
    color: var(--Theme-Success, #28A154);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.div-right-text {
    color: var(--Gray-900, #212121);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.explore-title-green {
    color: var(--Theme-Success, #28A154);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
    margin-top: 25px;
    margin-left: -20px;
}

.explore {
    margin-left: 40px;
}

/* faq */
.faq {
    padding: 104px 0;
}

.faq-title {
    color: var(--Gray-900, #212121);
    text-align: center;
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 66px;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 104px;
}

.faq-blue-title {
    color: var(--Theme-Primay, #005DFF);
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 29px;
}

.faq-text {
    color: var(--Gray-900, #212121);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 48px;
}

.faq-green-title {
    color: var(--Theme-Success, #28A154);
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 29px;
}

.faq-orange-title {
    color: var(--Theme-Warning, #FF6A00);
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 29px;
}

.faq-span {
    width: 1px;
    height: 595px;
    border: 1px solid #eee;
    margin-top: 10px;
}

.faq-div {
    padding: 72px;
    border-radius: 30px;
    background: rgb(255, 221, 199);
    position: relative;
    overflow: hidden;
}

.faq-div-title {
    color: var(--Gray-900, #212121);
    text-align: center;
    font-size: 57px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 76px;
}

.faq-btn {
    padding: 14px 28px;
    border-radius: 73px;
    background: var(--Theme-Warning, #FF6A00);
    color: var(--Theme-White, #FFF);
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0 auto;
}

.faq-btn img {
    margin-left: 10px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
}

.circle-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.circle-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.circle-right-top {
    position: absolute;
    right: 0;
    top: 0;
}

/* footer */

.footer {
    padding-bottom: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.footer-left {
    display: flex;
}

.footer-div {
    margin-right: 53px;
}

.footer-titles {
    color: var(--Gray-900, #212121);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.footer-texts {
    color: var(--Gray-700, #616161);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.footer-contact {
    display: flex;
    align-items: center;
}

.footer-text {
    color: var(--Gray-900, #212121);
    font-family: PT Serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin-left: 16px;
    margin-top: 15px;
}

.footer-websites {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
}

.footer-websites img {
    margin-right: 25px;
}

.footer-hr {
    background: #E1E6ED;
    width: 1140px;
    height: 0px;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}